- if @form.errors.any?
  .alert.alert-danger
    - @form.errors.full_messages.each do |error|
      %p= error

= form_for @form do |f|

  .control-group
    %label Game UID
    = f.text_field :game_uid

  .control-group
    = f.label :name
    = f.text_field :name

  %div
    = f.submit :Join
